@import '~antd/dist/antd.css';

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.navbar {
  display: flex;
  align-content: center;
}

.header {
  margin-bottom: 30px;
  height: 60px;
  background-color: #2980B9;
}

.item {
  height: 100%;
  width: 90%;
  margin-bottom: 30px;
}

.content {
  margin: 0 50px;
}

.container__viz {
  margin-top: 30px;
  min-height: 70%;
}

.container__table {
  max-height: 30%;
}